<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <title>E-Bulletin Board</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">